body {
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand h1 {
  /*Restaurant Name */
  font-family: Helvetica, serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list li {
  background-color: #fff;
  border-bottom:  2px solid black;
  margin: 0;
  text-align:  center;
  color:  black;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border:  1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:  -30px;
}

.row {
  margin:  15px;
}
section {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15ps;
  background-color: grey;
}

h4 {
  font-weight:  bold;
}

.menu-content {
  margin:  15px;
  width:  auto;
  height:  auto;

}
